/* Form container */
form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Form header */
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form inputs */
  .input-control {
    margin-bottom: 15px;
  }
  
  .input-control label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-control input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Form submit button */
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #f92524;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #f92524;
  }
  
  /* Form error messages */
  .error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
  }
  